# Lecture 3 â€“ Variables and Types
## Data 6, Summer 2022

## Names, Variables, Assignment Statements

In [ ]:
x = 3

In [ ]:
x

In [ ]:
# A common format, to explore more in lab
x = 3
x

<br/>

The `=` in Python is not like the `=` in math!

In [ ]:
# syntax error
3 = x

In [ ]:
x = 2
x = x + 1
x

<br/>

### Quick Check

For each of the below cells, what is the output?

In [ ]:
side_length = 5
area = side_length ** 2
side_length = side_length + 2

In [ ]:
side_length

In [ ]:
area

<br/>

In [ ]:
turtle + 5

<br/><br/>

## Strings

In [1]:
cases_2019 = 2111
type(cases_2019)

int

In [2]:
incidence_2019 = 5.35
type(incidence_2019)

float

In [3]:
incidence_2020 = 4.32
incidence_2021 = 4.46
max(incidence_2019, incidence_2020,
    incidence_2021)

5.35

In [4]:
state = "California"
type(state)

str

<br/><br/>

In [1]:
len("University of California, Berkeley")

34

In [2]:
empty = ''
len(empty)

0

In [3]:
"go " + "bears" + "!!!"

'go bears!!!'

### Typecasting

In [ ]:
# If a float is passed: cuts off decimal
int(3.92)

In [ ]:
int(-2.99)

In [ ]:
int("-5")

In [ ]:
# If a string is passed, it must represent an int
int("41")

In [ ]:
float(3)

In [ ]:
float("3.14159265")

In [ ]:
float(-19.0)

In [ ]:
float(-14.0 + "3.0")

In [ ]:
str(13 + 14 + 15/2)

In [ ]:
str("1")

<br/><br/>

## Print

In [ ]:
biggest_num = max(5, 2, -1)
biggest_num * 10

In [ ]:
print(10 * max(5, 2, -1))

In [ ]:
print("10x Biggest number:")
10 * max(5, 2, -1)

In [ ]:
"hello"

In [ ]:
print(2)

In [4]:
print(2)
print("Hello, world!")

2
Hello, world!

In [ ]:
x = 3
y = 4
print(x, "+", y, "is equal to", x + y)

<br/><br/>

# Practice

Sometimes, we will include extra practice problems at the end for you to work on after class. These are not required or graded in any way, but they're highly recommended.

To see the solution for a given problem, you can click the triangle next to "Answer".

### Question 1

WITHOUT running any code, what does the following expression evaluate to?

```py
max(min(14, 15), abs(16 - min(17, max(-5, 15), -9)))
```

You should write out your thought process on paper.

<details>
    <summary>Answer</summary>
    25
</details>

## Question 3

Assign the variable `q3` to a string that reads `'Lisa Jobs is 45 years old and lives in Canada.'`

You **MUST** use the four variables defined below to create the string. This is similar to the example on slide 50 of the lecture.

_Hint: You will need to cast the variable `age` to an integer so that you can change it from 42 to 45._

In [ ]:
first_name = 'Lisa'
last_name = 'Jobs'
age = "42"
location = 'Canada'

q3 = ... # YOUR CODE HERE

<details>
    <summary>Answer</summary>
    <code>q3 = first_name + ' ' + last_name + ' is ' + str(int(age) + 3) + ' years old and lives in ' + location + '.'</code>
</details>